@model IEnumerable<NibsMVC.Models.DeleteModel>

@{
    ViewBag.Title = "DOutletBills";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using NibsMVC.EDMX;
<div class="page-content">

    <!-- BEGIN PAGE HEADER-->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="@Url.Action("Index","Home")">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
           
            <li>
                Delete Bill Details
            </li>
        </ul>

    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->

    <div class="row">
        <p style="color:red">@TempData["error"]</p>
        <div class="col-md-12" style="padding-left:0px;padding-right:0px;">
            <!-- BEGIN BORDERED TABLE PORTLET-->
            <div class="portlet box yellow">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-coffee"></i>Delete Bill Details
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse">
                        </a>

                        <a href="javascript:;" class="reload">
                        </a>

                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-bordered table-hover table-full-width" id="sample_2">
                        <thead>
                            <tr>
                                @*<th>
                                        S.NO
                                    </th>*@
                                <th>Outlet Name</th>
                                <th>Token No</th>
                                <th>Bill Type</th>
                                <th>Bill Date</th>
                                <th>Vat Amount</th>
                                <th>Service Charges</th>
                                <th>Discount Amount</th>
                                <th>Total Amount</th>
                                <th>Net Amount</th>
                                <th>Item Details</th>
                                <th>Delete Date & Time</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{

                                var counter = 1;
                                foreach (var item in Model.OrderByDescending(a=>a.DeleteDate))
                                {
                                    <tr>
                                        <td>
                                            @{
                                    NibsMVC.EDMX.NIBSEntities db = new NibsMVC.EDMX.NIBSEntities();
                                    var outname = (from p in db.tblOutlets where p.OutletId == item.Outletid select p.Name).FirstOrDefault();
                                            }
                                            @outname
                                        </td>

                                        @*<td>
                                                @counter
                                            </td>*@
                                        <td>@item.TokenNo</td>
                                        <td>
                                            @item.BillingType
                                        </td>
                                        <td>
                                            @item.BillDate
                                        </td>

                                        <td>
                                            @item.VatAmount
                                        </td>
                                        <td>
                                            @item.ServicChargeAmt
                                        </td>
                                        <td>
                                            @item.DiscountAmount
                                        </td>
                                        <td>
                                            @item.TotalAmount
                                        </td>
                                        <td>
                                            @item.NetAmount
                                        </td>
                                        <td>
                                            <a class="btn default" data-toggle="modal" href="#@item.DeleteId">
                                                Items
                                            </a>
                                            <div class="modal fade" id="@item.DeleteId" tabindex="-1" role="basic" aria-hidden="true">
                                              
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                            <h4 class="modal-title">Item Details</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <table class="table table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Item Name</th>
                                                                        <th>Full Quantity</th>
                                                                        <th>Half Quantity</th>
                                                                        <th>Amount</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @{
                                    NIBSEntities db1 = new NIBSEntities();
                                    var Itemdetails = (from q in db1.tblDeletedetails where q.DeleteId == item.DeleteId select q).ToList();
                                    foreach (var i in Itemdetails)
                                    {
                                        <tr>
                                            <td>
                                                @{
                                        var itemname = (from l in db1.tblItems where l.ItemId.Equals(i.ItemId) select l.Name).SingleOrDefault();
                                                }
                                                @itemname
                                            </td>
                                            <td>@i.FullQty</td>
                                            <td>@i.HalfQty</td>
                                            <td>@i.Amount</td>

                                        </tr>
                                    }
                                                                    }
                                                                </tbody>


                                                            </table>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn default" data-dismiss="modal">Close</button>

                                                        </div>
                                                   
                                            </div>
                                        </td>
                                        <td>@item.DeleteDate</td>
                                        @*<td>
                                                <a href="@Url.Action("DeleteBill","Billing", new { id = item.BillId })"><span class="glyphicon glyphicon-edit">Delete</span></a>


                                            </td>*@
                                        <td>
                                           
                                            <a href="@Url.Action("DeleteBill", "Admin", new { @id = item.DeleteId })"><span class="fa fa-trash-o"></span></a>
                                        </td>
                                        @*<td>
                                                <a href="@Url.Action("Create", "Category", new { @id = item.CategoryId })" class="btn btn-xs red">Edit</a>
                                                <a href="@Url.Action("Delete", "Category", new { @id = item.CategoryId })" class="btn btn-xs red">Delete</a>
                                            </td>*@

                                    </tr>
                                    counter = counter + 1;
                                }

                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END BORDERED TABLE PORTLET-->

        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>