<li class="start active open">
    <a href="javascript:;">
        <i class="fa fa-user"></i>
        <span class="title">
            Vendor Master
        </span>
        <span class="arrow open">
        </span>
        <span class="selected"></span>
    </a>
    <ul class="sub-menu">
        <li class="">
            <a href="@Url.Action("VenderRegistration", "Outlet")">
                Vendor Registration
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("Vender", "Outlet")">
                Vendor Details
            </a>
        </li>

    </ul>
</li>
<li class="start">
    <a href="javascript:;">
        <i class="fa fa-users"></i>
        <span class="title">
           Sales Vendor Master
        </span>
        <span class="arrow open">
        </span>
        <span class="selected"></span>
    </a>
    <ul class="sub-menu">
        <li class="">
            <a href="@Url.Action("Create", "Vendor")">
               Add Vendor 
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("Index", "Vendor")">
                Vendor List
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("setPrice", "Vendor")">
                Set Price
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("CreateBilling", "Vendor")">
               Vendor Billing
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("BillReport", "Vendor")">
                 Billing Report
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("AddVendorPay", "Vendor")">
               Update Balance
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("VendorPaymentDetail", "Vendor")">
                Vendor Balance Report
            </a>
        </li>

    </ul>
</li>
<li>
    <a href="javascript:;">
        <i class="fa fa-gift"></i>
        <span class="title">
            Offer Master
        </span>
        <span class="arrow">
        </span>
    </a>
    <ul class="sub-menu">

        <li class="">
            <a href="@Url.Action("Index", "OutletOffer")">
                Offer Receive Reports
            </a>
        </li>
    </ul>
</li>
<li>
    <a href="javascript:;">
        <i class="fa fa-gift"></i>
        <span class="title">
            Menu Master
        </span>
        <span class="arrow">
        </span>
    </a>
    <ul class="sub-menu">

        <li class="">
            <a href="@Url.Action("Index", "Menu")">
                Menu Receive Reports
            </a>
        </li>
    </ul>
</li>
<li>
    <a href="javascript:;">
        <i class="fa fa-gift"></i>
        <span class="title">
            Purchase Master
        </span>
        <span class="arrow">
        </span>
    </a>
    <ul class="sub-menu">
        <li class="">
            <a href="@Url.Action("Create", "Purchase")">
                Add Purchase Details
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("Index", "Purchase")">
                Purchase Reports
            </a>
        </li>

        <li class="">
            <a href="@Url.Action("ReturnPurchaseReport", "Purchase")">
                Purchase Return Report
            </a>
        </li>
    </ul>
</li>
<li>
    <a href="javascript:;">
        <i class="fa fa-gift"></i>
        <span class="title">
            Stock Transfer Master
        </span>
        <span class="arrow">
        </span>
    </a>
    <ul class="sub-menu">
        <li class="">
            <a href="@Url.Action("Create", "StockTransfer")">
                Stock Transfer
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("Index", "StockTransfer")">
                Stock Transfer Report
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("StockRecive", "StockTransfer")">
                Stock Receive Report
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("ReturnStockReport", "StockTransfer")">
                Stock Return Report
            </a>
        </li>
    </ul>
</li>
<li>
    <a href="javascript:;">
        <i class="fa fa-gift"></i>
        <span class="title">
            Table Master
        </span>
        <span class="arrow">
        </span>
    </a>
    <ul class="sub-menu">
        <li class="">
            <a href="@Url.Action("Create","Table")">
                Add Table
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("Index", "Table")">
                Table Master Reports
            </a>
        </li>
    </ul>
</li>
<li>
    <a href="javascript:;">
        <i class="fa fa-gift"></i>
        <span class="title">
            Billing Master
        </span>
        <span class="arrow">
        </span>
    </a>
    <ul class="sub-menu">
        <li class="">
            <a href="@Url.Action("Index", "Nibs")">
                Create Billing
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("Index", "Today")">
                Today Billing Reports
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("Index", "Date")">
                Date Wise Billing Reports
            </a>
        </li>
    </ul>
</li>

<li>
    <a href="javascript:;">
        <i class="fa fa-gift"></i>
        <span class="title">
            Reports Master
        </span>
        <span class="arrow">
        </span>
    </a>
    <ul class="sub-menu">
        <li class="">
            <a href="@Url.Action("Index", "Reports")">
               All In One Report
            </a>
        </li>

    </ul>
</li>
<li>
    <a href="javascript:;">
        <i class="fa fa-gift"></i>
        <span class="title">
            Operator Master
        </span>
        <span class="arrow">
        </span>
    </a>
    <ul class="sub-menu">
        <li class="">
            <a href="@Url.Action("Create", "Operator")">
                Operator Registration
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("Index", "Operator")">
                Operator Reports
            </a>
        </li>
    </ul>
</li>
@*<li>
    <a href="javascript:;">
        <i class="fa fa-gift"></i>
        <span class="title">
            Kitchen Stock Master
        </span>
        <span class="arrow">
        </span>
    </a>
    <ul class="sub-menu">
        <li class="">
            <a href="@Url.Action("Index", "KitchenStock")">
                Stock Reports
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("addstock", "KitchenStock")">
                Adding Stock
            </a>
        </li>
        
    </ul>
</li>*@
