<li>
    <a href="javascript:;">
        <i class="fa fa-gift"></i>
        <span class="title">
            Ledger Group
        </span>
        <span class="arrow">
        </span>
    </a>
    <ul class="sub-menu">
        <li class="">
            <a href="@Url.Action("AddLegderGroup", "Ledgergroup")">
                Add Ledger Group
            </a>
        </li>

        <li class="">
            <a href="@Url.Action("Index", "Ledgergroup")">
                Ledger Group Report
            </a>
        </li>

    </ul>
</li>
<li>
    <a href="javascript:;">
        <i class="fa fa-gift"></i>
        <span class="title">
            Ledger Master
        </span>
        <span class="arrow">
        </span>
    </a>
    <ul class="sub-menu">
        <li class="">
            <a href="@Url.Action("AddLedger", "Ledger")">
                Add Ledger
            </a>
        </li>

        <li class="">
            <a href="@Url.Action("Index", "Ledger")">
                Ledger Report
            </a>
        </li>

    </ul>
</li>
<li>
    <a href="javascript:;">
        <i class="fa fa-gift"></i>
        <span class="title">
            Finance 
        </span>
        <span class="arrow">
        </span>
    </a>
    <ul class="sub-menu">
        <li class="">
            <a href="@Url.Action("Receipt", "Finance")">
                Receipt
            </a>
        </li> 
        <li class="">
            <a href="@Url.Action("CashReceipt", "Finance")">
                Cash Receipt
            </a>
        </li> 
        <li class="">
            <a href="@Url.Action("Payment", "Finance")">
                Payment
            </a>
        </li> 
        <li class="">
            <a href="@Url.Action("CashPayment", "Finance")">
                Cash Payment
            </a>
        </li> 
        <li class="">
            <a href="@Url.Action("DebitNote", "Finance")">
                Debit Note
            </a>
        </li> 
        <li class="">
            <a href="@Url.Action("CreditNote", "Finance")">
                Credit Note
            </a>
        </li> 
        <li class="">
            <a href="@Url.Action("Contra", "Finance")">
                Contra
            </a>
        </li> 
        <li class="">
            <a href="@Url.Action("Journal", "Finance")">
                Journal
            </a>
        </li> 
    </ul>
</li>
<li>
    <a href="javascript:;">
        <i class="fa fa-gift"></i>
        <span class="title">
            Finance Details
        </span>
        <span class="arrow">
        </span>
    </a>
    <ul class="sub-menu">
        <li class="">
            <a href="@Url.Action("ReceiptDetails", "FinanceDetails")">
                Receipt Details
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("CashReceiptDetails", "FinanceDetails")">
                Cash Receipt Details
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("PaymentDetails", "FinanceDetails")">
                Payment Details
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("CashPaymentDetails", "FinanceDetails")">
                Cash Payment Details
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("DebitNoteDetails", "FinanceDetails")">
                Debit Note Details
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("CreditNoteDetails", "FinanceDetails")">
                Credit Note Details
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("ContraDetails", "FinanceDetails")">
                Contra Details
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("JournalDetails", "FinanceDetails")">
                Journal Details
            </a> 
        </li>
    </ul>
</li>










