<li>
    <a href="javascript:;">
        <i class="fa fa-gift"></i>
        <span class="title">
            Department Master
        </span>
        <span class="arrow">
        </span>
    </a>
    <ul class="sub-menu">

        <li class="">
            <a href="@Url.Action("Create", "Department")">
                Add Department
            </a>
        </li>

        <li class="">
            <a href="@Url.Action("index", "Department")">
                Department Report
            </a>
        </li>


    </ul>
</li>

<li>
    <a href="javascript:;">
        <i class="fa fa-gift"></i>
        <span class="title">
            Menu Category
        </span>
        <span class="arrow">
        </span>
    </a>
    <ul class="sub-menu">
        @*<li class="">
           <a href="@Url.Action("Create", "Category")">
            Add Category
        </a>
    </li>*@
        <li class="">
            <a href="@Url.Action("Index","Category")">
                Category Report
            </a>
        </li>
    </ul>
</li>
<li>
    <a href="javascript:;">
        <i class="fa fa-gift"></i>
        <span class="title">
            Menu Item Master
        </span>
        <span class="arrow">
        </span>
    </a>
    <ul class="sub-menu">
        @*<li class="">
    <a href="@Url.Action("AddItem", "Category")">
        Add Items
    </a>
        </li>*@
       <li class="">
        <a href="@Url.Action("AddSubItem", "Category")">
            Add Sub Items
        </a>
            </li>

        <li class="">
            <a href="@Url.Action("SubItemDetails","Category")">
                Sub Items Report
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("BlockedSubItem", "Category")">
                Blockes SubItem Reports
            </a>
        </li>


        <li class="">
            <a href="@Url.Action("ItemDetails","Category")">
                Menu Items Report
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("BlockedItem", "Category")">
                BlockItem Reports
            </a>
        </li>
        
    </ul>
</li>

<li>
    <a href="javascript:;">
        <i class="fa fa-gift"></i>
        <span class="title">
            Menu Item Ingrediants
        </span>
        <span class="arrow">
        </span>
    </a>
    <ul class="sub-menu">

        <li class="">
            <a href="@Url.Action("AddIndent", "Kitchen")">
                Add Menu Item Ingredient
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("KitchenRawList", "Kitchen")">
                Menu Item Ingredient Report
            </a>
        </li>

        <li class="">
            <a href="@Url.Action("AddSubMenuIndent", "Kitchen")">
                Add Sub Item Ingredient
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("SubItemRawList", "Kitchen")">
                Sub Item Ingredient Report
            </a>
        </li>

    </ul>
</li>
<li>
    <a href="javascript:;">
        <i class="fa fa-gift"></i>
        <span class="title">
            Base Price Master
        </span>
        <span class="arrow">
        </span>
    </a>
    <ul class="sub-menu">
        @*<li class="">
            <a href="@Url.Action("Create", "BasePrice")">
                Set Base Price
            </a>
        </li>*@
        <li class="">
            <a href="@Url.Action("Index", "BasePrice")">
                Base Price Reports
            </a>
        </li>
    </ul>
</li>
@*<li>
    <a href="javascript:;">
        <i class="fa fa-gift"></i>
        <span class="title">
            Menu Assign Master
        </span>
        <span class="arrow">
        </span>
    </a>
    <ul class="sub-menu">
        <li class="">
            <a href="@Url.Action("Create", "Menu")">
                Assign Menu
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("MenuReport", "Admin")">
                Assign Menu Reports
            </a>
        </li>
    </ul>
</li>*@
@*<li>
    <a href="javascript:;">
        <i class="fa fa-gift"></i>
        <span class="title">
            Offer Master
        </span>
        <span class="arrow">
        </span>
    </a>
    <ul class="sub-menu">
        <li class="">
            <a href="@Url.Action("Create","OfferCreation")">
                Offer Creation
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("Index","OfferCreation")">
                Offer Reports
            </a>
        </li>

    </ul>
</li>
<li>
    <a href="javascript:;">
        <i class="fa fa-gift"></i>
        <span class="title">
            Assign  Offer Master
        </span>
        <span class="arrow">
        </span>
    </a>
    <ul class="sub-menu">
        <li class="">
            <a href="@Url.Action("Create","AssignOffer")">
                Assign  Offer
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("Index", "AssignOffer")">
                Assign Offer Reports
            </a>
        </li>

    </ul>
</li>*@
@*<li>
    <a href="javascript:;">
        <i class="fa fa-gift"></i>
        <span class="title">
            Service Master
        </span>
        <span class="arrow">
        </span>
    </a>
    <ul class="sub-menu">
        <li class="">
            <a href="@Url.Action("Create", "ServicCharges")">
                Add Service
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("Index", "ServicCharges")">
                Service Charges Details
            </a>
        </li>

    </ul>
</li>*@
@*<li>
    <a href="javascript:;">
        <i class="fa fa-gift"></i>
        <span class="title">
            Service Tax
        </span>
        <span class="arrow">
        </span>
    </a>
    <ul class="sub-menu">
        <li class="">
            <a href="@Url.Action("Create", "ServicTax")">
                Add Service Tax
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("Index", "ServicTax")">
                Service Tax Details
            </a>
        </li>

    </ul>
</li>*@
<li>
    <a href="javascript:;">
        <i class="fa fa-gift"></i>
        <span class="title">
            Operator Master
        </span>
        <span class="arrow">
        </span>
    </a>
    <ul class="sub-menu">
        <li class="">
            <a href="@Url.Action("Create", "Operator")">
                Operator Registration
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("OperatorReports", "Admin")">
                Operator Reports
            </a>
        </li>
    </ul>
</li>


<li>
    <a href="javascript:;">
        <i class="fa fa-gift"></i>
        <span class="title">
            Table Master
        </span>
        <span class="arrow">
        </span>
    </a>
    <ul class="sub-menu">
        @*<li class="">
            <a href="@Url.Action("Create","Table")">
                Add Table
            </a>
        </li>*@
        <li class="">
            <a href="@Url.Action("Index", "Table")">
                Table Master Reports
            </a>
        </li>
    </ul>
</li>
<li>
    <a href="javascript:;">
        <i class="fa fa-gift"></i>
        <span class="title">
            Billing Master
        </span>
        <span class="arrow">
        </span>
    </a>
    <ul class="sub-menu">
        @*<li class="">
            <a href="@Url.Action("Index", "Nibs")">
                Create Billing
            </a>
        </li>*@
        <li class="">
            <a href="@Url.Action("Index", "Today")">
                Today Billing Reports
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("Index", "Date")">
                Date Wise Billing Reports
            </a>
        </li>
    </ul>
</li>


<li>
    <a href="javascript:;">
        <i class="fa fa-gift"></i>
        <span class="title">
            Reports Master
        </span>
        <span class="arrow">
        </span>
    </a>
    <ul class="sub-menu">
        <li class="">
            <a href="@Url.Action("RestroBill", "Admin")">
                Restaurant Bill Reports
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("TakeBills", "Admin")">
                Take Away Reports
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("AllHomeDelivery", "Admin")">
                Home Delivery Reports
            </a>
        </li>
        
        <li class="">
            <a href="@Url.Action("DOutletBills", "Admin")">
                Delete Bill Reports
            </a>
        </li>
    </ul>
</li>