<li>
    <a href="javascript:;">
        <i class="fa fa-gift"></i>
        <span class="title">
            Ledger Group
        </span>
        <span class="arrow">
        </span>
    </a>
    <ul class="sub-menu">
        <li class="">
            <a href="@Url.Action("AddLegderGroup", "Ledgergroup")">
                Add Ledger Group
            </a>
        </li>

        <li class="">
            <a href="@Url.Action("Index", "Ledgergroup")">
                Ledger Group Report
            </a>
        </li>

    </ul>
</li>
<li>
    <a href="javascript:;">
        <i class="fa fa-gift"></i>
        <span class="title">
            Ledger Master
        </span>
        <span class="arrow">
        </span>
    </a>
    <ul class="sub-menu">
        <li class="">
            <a href="@Url.Action("AddLedger", "Ledger")">
                Add Ledger
            </a>
        </li>

        <li class="">
            <a href="@Url.Action("Index", "Ledger")">
                Ledger Report
            </a>
        </li>

    </ul>
</li>
<li>
    <a href="javascript:;">
        <i class="fa fa-gift"></i>
        <span class="title">
            Finance 
        </span>
        <span class="arrow">
        </span>
    </a>
    <ul class="sub-menu">
        <li class="">
            <a href="@Url.Action("Receipt", "Finance")">
                Receipt
            </a>
        </li> 
        <li class="">
            <a href="@Url.Action("CashReceipt", "Finance")">
                Cash Receipt
            </a>
        </li> 
        <li class="">
            <a href="@Url.Action("Payment", "Finance")">
                Payment
            </a>
        </li> 
        <li class="">
            <a href="@Url.Action("CashPayment", "Finance")">
                Cash Payment
            </a>
        </li> 
    </ul>
</li>










