@model NibsMVC.Models.SearchModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using NibsMVC.EDMX;
<div class="page-content">

    <!-- BEGIN PAGE HEADER-->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="@Url.Action("Index","Home")">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                Kitchen Stock Details
            </li>
        </ul>

    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->

    <div class="row">
        <div class="col-md-12" style="padding-left:0px;padding-right:0px;">
            <!-- BEGIN BORDERED TABLE PORTLET-->
            <div class="portlet box yellow">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-coffee"></i>Kitchen Stock Details
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse">
                        </a>

                        <a href="javascript:;" class="reload">
                        </a>

                    </div>
                </div>
                <div class="portlet-body">
                    @using (Html.BeginForm("Index", "KitchenStock", FormMethod.Post, new { @id = "form_sample_6", @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <input type="hidden" name="itemsdata" id="itemsdata" value="" />
                        <div class="form-body">
                            <div class="alert alert-danger display-hide">
                                <button class="close" data-close="alert"></button>
                                You have some form errors. Please check below.
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">From Date</label>
                            <div class="col-md-4">
                                <input class="form-control form-control-inline input-medium date-picker" data-date-format="dd-M-yyyy" size="16" type="text" value=@Model.FromDate name="FromDate" readonly="readonly" />
                                @*<input type="text" name="InvoiceDate" class="form-control" />*@

                            </div>

                            <label class="col-md-1">To Date</label>
                            <div class="col-md-3">
                                <input class="form-control form-control-inline input-medium date-picker" data-date-format="dd-M-yyyy" size="16" type="text" value=@Model.ToDate name="ToDate" readonly="readonly" />
                                @*<input type="text" name="InvoiceDate" class="form-control" />*@

                            </div>
                        </div>
                        <div class="form-group">

                            <label class=" col-md-1">Department</label>
                            <div class="col-md-3">
                                @Html.DropDownListFor(model => model.Department, (SelectList)ViewBag.Depts, "--Choose Department--", new { @class = "form-control" })
                            </div>

                            <label class=" col-md-1">Category</label>
                            <div class="col-md-3">
                                @Html.DropDownListFor(model => model.Category, (SelectList)ViewBag.catg, "--Choose Category--", new { @class = "form-control" })
                            </div>

                            <label class=" col-md-1">Item</label>
                            <div class="col-md-2">
                                @Html.DropDownListFor(model => model.Item, (SelectList)ViewBag.Items, "--Choose Item--", new { @class = "form-control" })

                            </div>
                            <div class="col-md-1"><button type="submit" class="btn green">Search</button></div>

                        </div>

                        <div class="col-md-offset-1 col-md-9">


                        </div>

                        <table class="table table-bordered table-hover table-full-width" id="sample_2">
                            <thead>
                                <tr>
                                    <th>Item Description</th>
                                    <th>Category</th>
                                    <th>Purchase Date </th>
                                    <th>Unit</th>
                                    <th>Quantity</th>
                                    <th>value</th>

                                    @if (ViewBag.flag)
                                    {
                                        <th>
                                            @Model.Department- Issued
                                        </th>
                                        <th>
                                            @Model.Department- Value
                                        </th>

                                    }

                                    else
                                    {
                                        foreach (var dept in ViewBag.depts)
                                        {
                                            <th>@dept.Text- Issued</th>
                                            <th>@dept.Text- Value</th>

                                        }
                                    }
                                    <th>Balance Stock</th>
                                    <th>Balance Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{

                                    var counter = 1;
                                    var dCoun = 7;
                                    var dCou = 8;
                                    int i = 1;
                                    decimal valTot = 0,totvald=0;
                                    decimal[] balance = new decimal[30];

                                    NIBSEntities db = new NIBSEntities();
                                    foreach (var item in ViewBag.List)
                                    {


                                        var dCount = 7;
                                        var dCountt = 8;
                                        valTot = valTot + item[6];
                                        <tr>
                                            <td>
                                                @item[1]
                                            </td>
                                            <td>
                                                @item[2]
                                            </td>
                                            <td>
                                                @item[3].ToString("dd:MM:yyyy")
                                            </td>
                                            <td>
                                                @item[4]
                                            </td>
                                            <td>
                                                @item[5]
                                            </td>
                                            <td>
                                                @item[6].ToString("0.00")
                                            </td>
                                            @if (ViewBag.flag)
                                            {
                                                <td>@item[7] </td>
                                                <td>@item[8].ToString("0.00") </td>

                                                <td>@item[9]</td>
                                                <td>@item[10].ToString("0.00")</td>
                                                totvald = totvald + @item[8];
                                            }
                                            else
                                            {
                                                foreach (var dept in ViewBag.depts)
                                                {
                                                    <td> @item[dCount] </td>
                                                    <td> @item[dCountt].ToString("0.00") </td>
                                                    balance[dCountt] = balance[dCountt] + @item[dCountt];
                                                    dCount = dCount + 2;
                                                    dCountt = dCountt + 2;
                                                    i++;

                                                }
                                                <td>
                                                    @item[dCount]
                                                </td>
                                                <td>
                                                    @item[dCountt].ToString("0.00")
                                                </td>
                                            }


                                        </tr>
                                            counter = counter + 1;



                                    }


                                }
                            </tbody>

                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        @valTot.ToString("0.00")
                                    </td>
                                    @if (ViewBag.flag)
                                    {
                                        <td> </td>
                                        <td>@totvald.ToString("0.00") </td>
                                    }
                                    else
                                    {
                                        foreach (var dept in ViewBag.depts)
                                        {

                                            <td>  </td>
                                            <td> @balance[dCou].ToString("0.00") </td>

                                            dCoun = dCoun + 2;
                                            dCou = dCou + 2;
                                            i++;
                                        }
                                    }
                                    <td></td>
                                    <td></td>
                                </tr>

                            </tfoot>

                        </table>
                    }
                </div>
            </div>
            <!-- END BORDERED TABLE PORTLET-->

        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>
