@model NibsMVC.Models.AssignSubMenuModel

@{
    ViewBag.Title = "Assign Sub Menu Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using NibsMVC.EDMX;

<script type="text/javascript">

    $(document).ready(function () {

        $("#MenuCategory").change(function () {
            $("#MainMenuItem").empty();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("getMenuItem")',

                dataType: 'json',

                data: { id: $("#MenuCategory").val() },


                success: function (items) {

                    $("#MainMenuItem").append('<option value="--Select Item--">--Select Item--</option>');
                    $.each(items, function (i, item) {
                        $("#MainMenuItem").append('<option value=' + item.Value + ">" + item.Text + "</option>");

                    });

                    //alert("Hello");

                },
                error: function (ex) {
                    alert('Failed to retrieve Category and Item.' + ex);
                }
            });
            return false;
        })
    });

</script>


<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Assign Sub Menu Item
                    </div>

                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    @*@using (Html.BeginForm("UpdateSubMenu", "AssignSubMenu", FormMethod.Post, new { @id = "form_sample_14", @class = "form-horizontal", @enctype = "multipart/form-data" }))*@
                    @using (Html.BeginForm("UpdateSubMenu", "AssignSubMenu", FormMethod.Post, new { @id = "ID", @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="form-body">
                            <div class="alert alert-danger display-hide">
                                <button class="close" data-close="alert"></button>
                                You have some form errors. Please check below.
                            </div>
                            <div style="height:10px;"><span class="errmsg"></span></div>

                            <div class="from-group">
                                <table id="tbloutletdetail" class="table table-bordered"></table>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Main Menu Category
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        @Html.DropDownList("MenuCategory", new SelectList(ViewBag.MainMenu, "Value", "Text"), "--Choose Your Category --", new { @class = "form-control" })

                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Main Menu Item
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        @Html.DropDownListFor(model => model.MainItem, new SelectList(string.Empty, "Value", "Text"), "--Choose Your Menu Item --", new { @class = "form-control", @id = "MainMenuItem" })

                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Sub Menu Item
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        @Html.DropDownListFor(model => model.SubItem, new SelectList(ViewBag.SubMenu, "Value", "Text"), "--Choose Your Sub Item --", new { @class = "form-control" })

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="button" class="btn green" id="btn_Add_Sub">Add</button>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
        <div class="col-md-12" id="RawSub_Data">

        </div>
        <div class="col-md-6 col-md-offset-3">
            <a href="@Url.Action("SaveSubMenu", "AssignSubMenu")" class="btn btn-danger" id="btn-FinalSub_Save" style="display:none;">Save</a>
        </div>
    </div>

</div>
<script>
    $(document).on('click', '#btn_Add_Sub', function () {
        var url = $('#ID').attr("action");
        var FormData = $('#ID').serialize();
        $.post(url, FormData, function (data) {
            $('#btn-FinalSub_Save').show();
            $('#RawSub_Data').html(data);
        });

    });
    $(document).on('click', '.delete_raw', function () {
        var FormData = { Id: $(this).attr("sid") };
        $.post("/AssignSubMenu/deleteRaw", FormData, function (data) {
            $('#RawSub_Data').html(data);
        });
    });
</script>