@model NibsMVC.Models.KitchenRawIndentModel
@{
    ViewBag.Title = "AddIndent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<div class="page-content">
    <div class="row">
        <div class="col-md-12 margin-bottom-10">
        </div>
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Add Menu Item Ingredient
                    </div>

                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    @using (Html.BeginForm("UpdateKitchenRawMaterial", "Kitchen", FormMethod.Post, new { @id = "Rawmaterials", @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.Id)
                        <div class="form-body">
                            <div class="alert alert-danger display-hide">
                                <button class="close" data-close="alert"></button>
                                You have some form errors. Please check below.
                            </div>
                            <div class="form-group">
                                <label class="col-md-3">
                                    Category <span class="required">
                                        *
                                    </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                       @Html.DropDownListFor(m => m.RawCategoryId, new SelectList(Model.lstofCategorirs, "Value", "Text"), "--Select--", new { @class = "form-control" })

                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="Show_Items" style="display:none;">
                                <label class="col-md-3">
                                    Items <span class="required">
                                        *
                                    </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                       <select name="ItemId" id="ItemId" class="form-control"></select>

                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-md-3">
                                    Raw Category <span class="required">
                                        *
                                    </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        @Html.DropDownListFor(m => m.RawMaterialCategoryId, new SelectList(Model.lstofRawCategories, "Value", "Text"), "--Select--", new { @class = "form-control" })

                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="Show_RawItems" style="display:none;">
                                <label class="col-md-3">
                                    Select Raw Material <span class="required">
                                        *
                                    </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <select name="RawMaterialId" id="tags" class="form-control"></select>

                                    </div>
                                </div>
                            </div>


                            @*<div class="form-group">
                                <label class="col-md-3 ">Select Raw Material</label>
                                <div class="col-sm-4">
                                    <input id="tags" class="form-control" name="RawMaterialId">
                                </div>
                            </div>*@
                            <div class="form-group">
                                <label class="col-md-3 ">Unit</label>
                                <div class="col-sm-4">
                                   @Html.DropDownListFor(m => m.Unit, new SelectList(Model.lstofUnits, "Value", "Text"), "--Select--", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 ">Quantity</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="button" class="btn green" id="btn_Add_Raw">Add</button>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
        <div class="col-md-12" id="Raw_Data">

        </div>
        <div class="col-md-6 col-md-offset-3">
            <a href="@Url.Action("SaveKitchenRawMaterail", "Kitchen")" class="btn btn-danger" id="btn-Final_Save" style="display:none;">Save</a>
        </div>
    </div>
</div>


<script>
    $(function () {
        var availableTags = [
         @{
             if(Model.GetAllAutocomplete.Count>0)
             {
                 foreach (var item in Model.GetAllAutocomplete)
                 {
                     <text>"@item.Name",</text>
                 }
             }
         }
        ];
        $("#tags").autocomplete({
            source: availableTags
        });
    });
</script>
<script>
    $(document).on('change', '#RawCategoryId', function () {
        var val = $(this).val();
        var FormData = { Id: val };
        $.post("/Kitchen/ListOfItems", FormData, function (data) {
            $('#Show_Items').show();
            $('#ItemId').html(data);
        });
    });
    $(document).on('change', '#RawMaterialCategoryId', function () {
        var val = $(this).val();
        var FormData = { Id: val };
        $.post("/Kitchen/ListOfRawItems", FormData, function (data) {
            $('#Show_RawItems').show();
            $('#tags').html(data);
        });
    });
    $(document).on('click', '#btn_Add_Raw', function () {
        var url = $('#Rawmaterials').attr("action");
        var FormData = $('#Rawmaterials').serialize();
        $.post(url, FormData, function (data) {
            $('#btn-Final_Save').show();
            $('#Raw_Data').html(data);
        });
       
    });
    $(document).on('click', '.delete_raw', function () {
        var FormData = { Id: $(this).attr("id") };
        $.post("/Kitchen/deleteRaw", FormData, function (data) {
            $('#Raw_Data').html(data);
        });
    });
</script>