@model NibsMVC.Models.AssignRawSubItemModel


@{
    ViewBag.Title = "Assign";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="row">
        @*<p class="err" style="color:red">@TempData["menuerror"]</p>*@
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Assign Sub Menu Item
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    @using (Html.BeginForm("AssignRawSubItem", "Kitchen", FormMethod.Post, new { @id = "subitemassign", @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                       

                        <input type="hidden" name="assigndata" id="assigndata" value="" />

                        <div class="form-body">
                            <div class="alert alert-danger display-hide">
                                <button class="close" data-close="alert"></button>
                                You have some form errors. Please check below.
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                     Date
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                       
                                        @Html.TextBoxFor(model => model.DateTime, new {   @class = "form-control form-control-inline input-medium date-picker", @id = "assignDate"})
                                        @*@Html.TextBoxFor(model => model.DateTime.ToString("dd-MMM-yyyy"), "assignDate", new { @class = "form-control form-control-inline input-medium date-picker", @value = DateTime.Today.ToString("dd-MMM-yyyy"), @id = "assignDate", @name = "assignDate"  })*@
                                        @*<input class="form-control form-control-inline input-medium date-picker" data-date-format="yyyy-mm-dd" size="16" type="text" value="" id="assignDate" name="assignDate" />*@
                                        
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Select SubItem <span class="required">
                                        *
                                    </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        @Html.DropDownListFor(model => model.SubItemId, new SelectList(ViewBag.SubItemList, "Value", "Text"), "--Choose SubItem--", new { @class = "form-control" })
                                        <input type="hidden" id="hidSubItemId" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Portion <span class="required">
                                        *
                                    </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>

                                        @Html.TextBoxFor(model => model.Portion, new { @class = "form-control" ,@id="Portion"})
                                      
                                   
                                    </div>
                                </div>
                            </div>
                            <div class="from-group" id="table_ItemS">
                            </div>
                         
                        </div>


                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green">Submit</button>

                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>

    <script>
       
        $("select[name='SubItemId']").on('change', function () {
        var val = $(this).val();
       
        var FormData = { SubItemId: val };
        $.post('/Kitchen/Assign', FormData, function (data) {
            var da = data.split('~');
            $("#table_ItemS").html(da[0]);
            $("#Portion").val(da[1]);
            $('.checkbox').on('click', function () {
                var chkid = $(this).attr('value');
                $('input[type="textbox"][Id="' + chkid + '"]').attr("readonly", false);
            });
        });

    });
    </script>
</div>



