@model NibsMVC.Models.OutletStockTransferModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using NibsMVC.EDMX;


<script type="text/javascript">

    $(document).ready(function () {

        $("#barcode").change(function () {
            $("#RawMaterialId").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("getCat")',

                dataType: 'json',

                data: { barcode: $("#barcode").val() },
                success: function (categoryId) {

                    $("#Category").val(categoryId);

                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("getitem")',

                        dataType: 'json',

                        data: { id: $("#Category").val() },


                        success: function (items) {

                            $("#RawMaterialId").append('<option value="--Select Item--">--Select Item--</option>');
                            $.each(items, function (i, item) {
                                $("#RawMaterialId").append('<option value="' + item.Value + '">' +
                                     item.Text + '</option>');
                            });

                                $.ajax({
                                    type: 'POST',
                                    url: '@Url.Action("getRaw")',

                                    dataType: 'json',

                                    data: { barcode: $("#barcode").val() },


                                    success: function (rawId) {

                                        $("#RawMaterialId").val(rawId);

                                        var stmd = rawId;

                                        $.getJSON('/StockTransfer/Stockavailability/' + stmd, function (data) {
                                            var res = data.split('^');
                                            $("#stock").val(res[0]);
                                            $("#Type_0").val(res[1])
                                            var stckvalue = $("#stock").val();
                                            if (stckvalue == 0) {
                                                $("#transferstock").val(0);
                                                $("#transferstock").attr('readonly', true);
                                            }
                                            else {
                                                $("#transferstock").attr('readonly', false);
                                            }
                                        });
                                      
                                    },
                                    error: function (ex) {
                                        alert('Failed to retrieve Category and Item.' + ex);
                                    }
                                });


                            
                        },
                        error: function (ex) {
                            alert('Failed to retrieve Category and Item.' + ex);
                        }
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve Category and Item.' + ex);
                }
            });
            return false;
        })



        $("#Category").change(function () {
            $("#RawMaterialId").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("getitem")',

                dataType: 'json',

                data: { id: $("#Category").val() },


                success: function (items) {

                    $("#RawMaterialId").append('<option value="--Select Item--">--Select Item--</option>');
                    $.each(items, function (i, item) {
                        $("#RawMaterialId").append('<option value="' + item.Value + '">' +
                             item.Text + '</option>');

                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve Category and Item.' + ex);
                }
            });
            return false;
        })
    });

</script>
<script>
    $(function () {
        $('#TransferDate').datepicker({
            startDate: '-1d',
            endDate: '0d',
            autoclose: true,
            format: "dd-M-yyyy"
        });
    });
</script>

<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Stock Transfer
                    </div>

                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    @using (Html.BeginForm("Create", "StockTransfer", FormMethod.Post, new { @id = "form_sample_14", @class = "form-horizontal", @enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="form-body">
                            <div class="alert alert-danger display-hide">
                                <button class="close" data-close="alert"></button>
                                You have some form errors. Please check below.
                            </div>
                            <div style="height:10px;"><span class="errmsg"></span></div>

                      


                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Select Outlet <span class="required">
                                        *
                                    </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        @Html.DropDownListFor(model => model.RecieverOutletId, new SelectList(ViewBag.OutletLists, "Value", "Text"), "--Choose Your Outlet--", new { @class = "form-control", @id = "stockoutlet" })

                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Barcode
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>

                                        <input type="text" class="form-control" id="barcode" autofocus />
                                    </div>
                                </div>
                            </div>


                            <div class="from-group">
                                <table id="tbloutletdetail" class="table table-bordered"></table>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Select Department <span class="required">
                                        *
                                    </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        @Html.DropDownListFor(model => model.DepartmentId, new SelectList(ViewBag.Departmentlist, "Value", "Text"), "--Choose Your Department--", new { @class = "form-control", @id = "Department" })

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Select Category <span class="required">
                                        *
                                    </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        @Html.DropDownList("Category", ViewBag.CategoryList as List<SelectListItem>, "--Choose Your Category --", new { @class = "form-control" })
                                        @*@Html.DropDownListFor(model => model.RawcategoryId, new SelectList(ViewBag.CategoryList, "Value", "Text"), "--Choose Your Category--", new { @class = "form-control", @id = "Category" })*@

                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Item <span class="required">
                                        *
                                    </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        @Html.DropDownList("RawMaterialId", new SelectList(string.Empty, "Value", "Text"), new { @class = "form-control", @id = "RawMaterialId" })
                                        @*@Html.DropDownListFor(model => model.RawMaterialId, new SelectList(ViewBag.itemlists, "Value", "Text"), "--Choose Your Item--", new { @class = "form-control" })*@

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Available Stock
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>

                                        <input type="text" readonly class="form-control" id="stock" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Transfer Stock <span class="required">
                                        *
                                    </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" name="TransferQuantity" class="form-control" id="transferstock" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Unit <span class="required">
                                        *
                                    </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <select id="Type_0" class="form-control Routing" name="Type">
                                            <option value="">Select</option>
                                            <option value="Bag">Bag</option>
                                            <option value="Box">Box</option>
                                            <option value="Bouch">Bouch</option>
                                            <option value="Bottle">Bottle</option>
                                            <option value="Bulk">Bulk</option>
                                            <option value="Can">Can</option>
                                            <option value="Gms">Gms</option>
                                            <option value="Kgs">Kgs</option>
                                            <option value="Ltr">Ltr</option>
                                            <option value="Mtr">Mtr</option>
                                            <option value="ML">ML</option>
                                            <option value="Nos">Nos</option>
                                            <option value="Piece">Piece</option>
                                            <option value="Packet">Packet</option>
                                            <option value="Punch">Punch</option>
                                            <option value="Tray">Tray</option>

                                            @*<option value="Pieces">Pieces</option>
                                                <option value="Gm">Gm</option>
                                                <option value="Packets">Packets</option>
                                                <option value="Boxes">Boxes</option>
                                                <option value="Litter">Litter</option>
                                                <option value="kg">Kg</option>*@

                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Transfer Date <span class="required">
                                        *
                                    </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>

                                        <input class="form-control form-control-inline input-medium date-picker" size="16" type="text" value="" id="TransferDate" name="TransferDate" />
                                        <input type="hidden" name="" class="form-control" id="transferQtyVal" />
                                    </div>
                                </div>
                            </div>

                            <div>
                                <label id="errorlablegreter" style="color:red;margin-left:200px;font-size:12px;" hidden>Transfer Stock must be less than Available Stock</label>
                                <label id="errorlableempty" style="color:red;margin-left:200px;font-size:12px;" hidden>Transfer Stock must have a value</label>
                            </div>
                            <input type="button" name="name" value="Transfer " class="btn green" style="margin-left:270px;" id="btntransfer" />
                            <div class="from-group">
                                <table id="tbltransferproduct" class="table table-bordered"></table>
                            </div>
                            <div class="from-group">
                                <table id="table_Stocktransfer" class="table table-bordered" hidden></table>

                            </div>



                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green" id="btnstocksubmit">Submit</button>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
    <script>


        //$(document).on('change', '#PurchaseDate', function () {
        //    var itename = $("#RawMaterialId :selected").text();
        //    var itemvalue = $("#RawMaterialId :selected").val();
        //    var purchaseDate = $("#PurchaseDate").val();
        //    var transferVal = 0;
        //    var FormData = { MaterialId: itemvalue, PurchaseDate: purchaseDate };
        //    $.get("/StockTransfer/getTransferMaterialValue", FormData, function (data) {
        //        transferVal = data;
        //    });

        //    $("#transferQtyVal").val(transferVal);
        //    $("#transferQtyVal").val = transferVal;

        //});

        $('#btntransfer').on('click', function (e) {
            $("#table_Stocktransfer").attr('hidden', false);

            var itemname = $("#RawMaterialId :selected").text();
            var itemvalue = $("#RawMaterialId :selected").val();
            var transferDate = $("#TransferDate").val();
            var stockvalue = $("#stock").val();
            var Outletvalue = $("#stockoutlet :selected").val();
            var transfervalue = $("#transferstock").val();
            var trasferunit = $("#Type_0").val();
            var Department = $("#Department :selected").text();
            var transferQtyVal = $("#transferQtyVal").val();

            if (trasferunit == "Gms") {
                stockvalue = stockvalue * 1000;
            }
            if (trasferunit == "ML") {
                stockvalue = stockvalue * 1000;
            }

            if (parseFloat(transfervalue) > 0) {
                if (parseFloat(transfervalue) <= parseFloat(stockvalue)) {

                    var remaingpurchase = parseFloat(stockvalue) - parseFloat(transfervalue);
                    if (trasferunit == "Gms") {
                        stockvalue = stockvalue / 1000;
                    }
                    if (trasferunit == "ML") {
                        stockvalue = stockvalue / 1000;
                    }
                    itemname = itemname.replace(/\s/g, "");;
                    $("#table_Stocktransfer").append('<tbody><tr> <td><input type="hidden" value="' + Outletvalue + '"</td><td><input type="text" class="form-control"  id=' + itemvalue + ' value=' + itemname + '  readonly/></td>  <td><input type="text" class="form-control"  id=' + stockvalue + ' value=' + stockvalue + ' readonly/> </td><td><input type="text" class="form-control"  id=' + transfervalue + ' value=' + transfervalue + ' readonly/></td><td><input type="text" class="form-control"  id=' + trasferunit + ' value=' + trasferunit + ' readonly/> </td><td><input type="text" class="form-control"  id=' + Department + ' value=' + Department + ' readonly/></td><td><input type="hidden" value="' + remaingpurchase + '"</td><td><input type="text" class="form-control"  id=' + transferDate + ' value=' + transferDate + ' readonly/></td><td><input type="button" class="btn green" value="Delete" id="btndelete"</td></tr></tbody>');
                    //<td><input type="text" class="form-control"  id=' + purchaseDate + ' value=' + purchaseDate + ' readonly/></td>
                    $("#errorlablegreter").hide();
                    $("#errorlableempty").hide();
                    $('#btndelete').live('click', function () {
                        $(this).closest('tr').remove();

                    });
                }
                else {
                    $("#errorlablegreter").show();
                    $("#errorlableempty").hide();
                }
            }
            else {
                $("#errorlableempty").show();
                $("#errorlablegreter").hide();
            }

            $("#barcode").focus();
            $("#barcode").val("");
        });

        $('#btnstocksubmit').on('click', function (e) {
            var IsValid = true;
            e.preventDefault();
            //console.log($(this).serialize());
            var stockval = "";
            var reamin = "";

            $('#table_Stocktransfer tbody tr').each(function () {



                if ($(this).find('td:eq(1) input').val() != "") {
                    $(this).find('td:eq(1) input').removeClass("errorSubmit");
                    var outvalue = $(this).find('td:eq(0) input').val();
                    stockval += outvalue + "^";

                    var itnme = $(this).find('td:eq(1) input').attr("id");
                    stockval = stockval + itnme + "^";

                    //var avlstck = $(this).find('td:eq(4) input').attr("id");
                    //stockval = stockval + avlstck + "^";

                    var transfrstk = $(this).find('td:eq(3) input').attr("id");
                    stockval = stockval + transfrstk + ";";


                    var selctid = $(this).find('td:eq(1) input').attr("id");
                    reamin += selctid + "^";

                    var transferquantity = $(this).find('td:eq(3) input').val();
                    reamin = reamin + transferquantity + "^";

                    var Outid = $(this).find('td:eq(0) input').val();
                    reamin = reamin + Outid + "^";

                    var remaingpurchase = $(this).find('td:eq(4) input').val();
                    reamin = reamin + remaingpurchase + "^";

                    var remaingpurchase = $(this).find('td:eq(6) input').val();
                    reamin = reamin + remaingpurchase + "^";

                    var dept = $(this).find('td:eq(5) input').val();
                    reamin = reamin + dept + "^";

                    var pdate = $(this).find('td:eq(7) input').val();
                    reamin = reamin + pdate + ";";

                }
                else {
                    $(this).find('td:eq(1) input').addClass("errorSubmit");
                    IsValid = false;
                }

            });


            if (IsValid == true) {
                stockval = stockval.substring(0, stockval.length - 1);
                var items = { 'RawmaterialId': stockval };
                //reamin = selctid + "^" + transferquantity + "^" + Outid + "^" + remaingpurchase + "^" + dept + "^" + pdate;
                $("#Stocktransdata").val(stockval);


                reamin = reamin.replace(/\./g, 'dot');
               

            
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("purchaseavailablestock")',

                    dataType: 'json',

                    data: { id: reamin },


                    success: function (items) {

                    },
                    error: function (ex) {
                        
                    }
                });


               
                //$.getJSON('/StockTransfer/purchaseavailablestock/' + reamin, function (reamin) {

                //});
                //$("#Updatedata").val(reamin);
                $("#form_sample_14").submit();
            }
            else {
                return false;
            }

        });
    </script>
</div>
