@model  NibsMVC.Models.PurchaseItemDetails

@{
    ViewBag.Title = "Vendor Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using NibsMVC.EDMX;
<script>
    function showDialogfile(fileid) {
        window.open("/" + fileid, '_blank', 'width=850px,height=600px,left=100,top=0,resizable=yes');
    }
</script>
<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Purchase Billing
                    </div>
                </div>
                <div class="portlet-body">
                    @using (Html.BeginForm("POBillReport", "PurchaseOrder", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        Html.AntiForgeryToken();
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.PurchaseOrderId)
                        <input type="hidden" name="itemsdata" id="itemsdata" value="" />
                        <div class="form-body">
                            <div class="alert alert-danger display-hide">
                                <button class="close" data-close="alert"></button>
                                You have some form errors. Please check below.
                            </div>
                        </div>

                        <div class="col-md-offset-1 col-md-9">
                        </div>
                        var po = "";
                        int p = 0;
                        DateTime podate = DateTime.Now;
                        foreach (var item in ViewBag.model)
                        {
                            p = item[0];
                            po = item[1];
                            podate = item[2];

                        }
                        <div class="col-md-10"></div>

                        <div class="col-md-1" >
                            <a href="@Url.Action("printexcel", "PurchaseOrder", new { PurchaseOrderId = p })">Excel</a>
                            
                            <a href="@Url.Action("printpdf", "PurchaseOrder", new { PurchaseOrderId = p })">PDF</a>
                        </div>
                        <div class="col-md-1">
                            
                        </div>
                        <table class="table table-bordered table-hover table-full-width">
                            <thead>
                               
                                <tr>
                                    <th style="border-right:0px">
                                        <strong>
                                            PO No : @po
                                        </strong>
                                    </th>
                                    <th style="border-right:0px;border-left:0px"></th>
                                    <th style="text-align:right">
                                        @*<a href="@Url.Action("printexcel", "PurchaseOrder", new { PurchaseOrderId = p })">Excel</a>
                                        <a href="@Url.Action("printpdf", "PurchaseOrder", new { PurchaseOrderId = p,@class="padding-left:10px;" })">PDF</a>*@
                                    </th>
                                    
                                </tr>
                                <tr style="border-bottom:1px">
                                    <th style="border-right:0px">
                                        <strong>
                                        PO Date : @podate.ToString("dd-MMM-yyyy")
                                        </strong>
                                    </th>
                                    <th style="border-right:0px;border-left:0px"></th>
                                    <th></th>
                                </tr>                         
                                    p
                                <tr style="border-bottom:1px">
                                    @*<th>Item Code</th>
                                        <th>Purchase Date</th>*@
                                    <th style="border-top:1px"><strong>Item Description</strong></th>

                                    <th style="border-top:1px"><strong>Quantity</strong></th>
                                    <th style="border-top:1px"><strong>Unit</strong></th>
                                    
                                </tr>
                               
                            </thead>

                            <tbody>
                                @{

                        var counter = 1;
                        NIBSEntities db = new NIBSEntities();

                        foreach (var item in ViewBag.model)
                        {
                            <tr>

                                @*<td>
                                        @item[1]
                                    </td>
                                    <td>
                                        @item[2]
                                    </td>*@
                                <td>
                                    @item[3]
                                </td>
                                <td>
                                    @item[4]
                                </td>
                                <td>
                                    @item[5]
                                </td>
                                
                            </tr>


                            counter = counter + 1;
                        }

                                }
                            </tbody>

                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
