@model  NibsMVC.Models.PurchaseItemDetails

@{
    ViewBag.Title = "Vendor Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using NibsMVC.EDMX;
<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Purchase Billing
                    </div>
                </div>
                <div class="portlet-body">
                    @using (Html.BeginForm("POBillReport", "PurchaseOrder", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        Html.AntiForgeryToken();
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.PurchaseOrderId)
                        <input type="hidden" name="itemsdata" id="itemsdata" value="" />
                        <div class="form-body">
                            <div class="alert alert-danger display-hide">
                                <button class="close" data-close="alert"></button>
                                You have some form errors. Please check below.
                            </div>
                        </div>

                        <div class="col-md-offset-1 col-md-9">
                        </div>
                        var po = "";
                        DateTime podate = DateTime.Now;
                        foreach (var item in ViewBag.model)
                        {
                            po = item[1];
                            podate = item[2];


                        }
                        <table class="table table-bordered table-hover table-full-width" id="sample_2">
                            <thead>
                                @*<tr>
                                    <th align="left" colspan="2" style="border-right: 0px;">
                                        <img src="~/Content/Logo/Kandha-Logo-200x87.png" />
                                    </th>
                                    <th align="right" style="border-left: 0px">
                                        <strong> 434,Trichy Rd,</strong><br />
                                        <strong>Agraharam,</strong> <br />
                                        <strong>Singanallur,</strong> <br />
                                        <strong>Coimbatore,Tamil Nadu, 641005</strong> <br />
                                    </th>
                                </tr>*@
                                <tr>
                                    <th colspan="3" >
                                        <strong>
                                            PO No : @po
                                        </strong>
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="3">
                                        <strong>
                                        PO Date : @podate.ToString("dd-MMM-yyyy")
                                        </strong>
                                    </th>
                                </tr>
                               
                                <tr>
                                    @*<th>Item Code</th>
                                        <th>Purchase Date</th>*@
                                    <th><strong>Item Description</strong></th>

                                    <th><strong>Quantity</strong></th>
                                    <th><strong>Unit</strong></th>
                                </tr>
                               
                            </thead>

                            <tbody>
                                @{

                        var counter = 1;
                        NIBSEntities db = new NIBSEntities();

                        foreach (var item in ViewBag.model)
                        {
                            <tr>

                                @*<td>
                                        @item[1]
                                    </td>
                                    <td>
                                        @item[2]
                                    </td>*@
                                <td>
                                    @item[3]
                                </td>
                                <td>
                                    @item[4]
                                </td>
                                <td>
                                    @item[5]
                                </td>

                            </tr>


                            counter = counter + 1;
                        }

                                }
                            </tbody>

                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
