@model NibsMVC.Models.PurchaseOrderModel


@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using NibsMVC.EDMX;
<div class="page-content">
    <p style="color:red">@TempData["Perror"]</p>
    <!-- BEGIN PAGE HEADER-->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="@Url.Action("Index","Home")">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>

            <li>
                Purchase Details
            </li>
        </ul>

    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->

    <div class="row">
        <div class="col-md-12" style="padding-left:0px;padding-right:0px;">
            <!-- BEGIN BORDERED TABLE PORTLET-->
            <div class="portlet box yellow">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-coffee"></i>Purchase Details
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse">
                        </a>

                        <a href="javascript:;" class="reload">
                        </a>

                    </div>
                </div>
                <div class="portlet-body">
                    @using (Html.BeginForm("PurchaseReport", "PurchaseOrder", FormMethod.Post, new { @id = "form_sample_6", @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.POId)
                        <input type="hidden" name="itemsdata" id="itemsdata" value="" />
                        <div class="form-body">
                            <div class="alert alert-danger display-hide">
                                <button class="close" data-close="alert"></button>
                                You have some form errors. Please check below.
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-1">From Date</label>
                            <div class="col-md-3">
                                <input class="form-control form-control-inline input-medium date-picker" data-date-format="mm-dd-yyyy" size="10" type="text" name="PODate" readonly="readonly" />
                                @*<input type="text" name="InvoiceDate" class="form-control" />*@

                            </div>


                            <label class=" col-md-1">Vendor</label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.Vendorname, (SelectList)ViewBag.vend, "--Choose Vendor--", new { @class = "form-control" })
                            </div>


                            <div class="col-md-1"><button type="submit" class="btn green">Search</button></div>

                        </div>

                        <div class="col-md-offset-1 col-md-9">


                        </div>
                        <table class="table table-bordered table-hover table-full-width" id="sample_2">
                            <thead>
                                <tr>
                                    <th>PO-No</th>
                                    <th>PO-Date</th>
                                    <th>Vendor Name</th>
                                    <th>Item Details</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{

                        var counter = 1;
                        NIBSEntities db = new NIBSEntities();
                        foreach (var item in ViewBag.List)
                        {
                            int it = @item[0];
                            <tr>
                                <td>
                                    @item[1]
                                </td>
                                <td>
                                    @item[2].Day-@item[2].Month-@item[2].Year
                                </td>

                                <td>
                                    <a href="@Url.Action("POBillReport", "PurchaseOrder", new { PurchaseOrderId = @item[0] })">@item[3]</a> 
                                </td>
                                <td>
                                    <a class="btn default" data-toggle="modal" href="#@item[0]">
                                        Items
                                    </a>
                                    <div class="modal fade" id="@item[0]" tabindex="-1" role="basic" aria-hidden="true">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                            <h4 class="modal-title">Item Details</h4>
                                        </div>
                                        <div class="modal-body">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Item Name</th>                                                        
                                                        <th>Quantity</th>
                                                        <th>Unit</th>                                                        
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                            var Itemdetails = (from q in db.tblPurchaseOrderItems where q.PurchaseOrderId == it select q).ToList();
                            foreach (var i in Itemdetails)
                            {
                                <tr>
                                    <td>@i.tbl_RawMaterials.Name</td>
                                    <td>@i.Quantity</td>
                                    <td>@i.Unit</td>
                                </tr>
                            }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </td> 
                                <td>
                                    <a href="@Url.Action("Create", "PurchaseOrder", new { @id = @item[0] })"><span class="fa fa-edit"></span></a>
                                    <a href="@Url.Action("DeletepurchaseOrder", "PurchaseOrder", new { @id = @item[0] })" class="block_Category"><span class="fa fa-trash-o"></span></a>
                                </td>

                            </tr>
                            counter = counter + 1;
                        }

                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
            <!-- END BORDERED TABLE PORTLET-->
            <script>
                $(document).on('click', '.block_Category', function (e) {
                    if (!confirm("Do you want to delete")) {
                        return false;
                    }
                });
            </script>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>
