@model NibsMVC.Models.LedgerModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-content">
    <div class="row">
        <div class="col-md-12 margin-bottom-10">
        </div>
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Add Ledger
                    </div>

                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    @using (Html.BeginForm("AddLedger", "Ledger", FormMethod.Post, new { @id = "form_sample_6", @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.Id)
                        <div class="form-body">
                            <div class="alert alert-danger display-hide">
                                <button class="close" data-close="alert"></button>
                                You have some form errors. Please check below.
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Ledger Name <span class="required">
                                        *
                                    </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        @Html.TextBoxFor(model => model.LedgerName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model=>model.LedgerName)
                                        <input type="hidden" id="hidcategoryId" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Legder Group <span class="required">
                                        *
                                    </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        @Html.DropDownListFor(model => model.LedgerGroupId, new SelectList(ViewBag.LedgerCat, "Value", "Text"), "--Choose Ledger Group--", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.LedgerGroupId)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Date 
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        @*@Html.TextBoxFor(model => model.Date, new { @class = "form-control" })*@
                                        @*@Html.TextBoxFor(model => model.Date, new { @class = "form-control date-picker", @readonly = "readonly", @placeholder = "date" })*@
                                        @*<input id="Date" class="form-control form-control-inline input-medium date-picker" data-date-format="dd-mm-yyyy" size="16" type="text" value=@Model.Date name="Date" readonly="readonly" />*@
                                        @Html.TextBoxFor(model => model.Date, new { @Value = " ", id = "datepicker", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Date)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Opening Balance
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        @Html.TextBoxFor(model => model.OpeningBalance, new { @class = "form-control" })

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Percentage <span class="required">
                                        *
                                    </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        @Html.TextBoxFor(model => model.Percentage, new { @class = "form-control" })

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Transfer Type 
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        @*@Html.DropDownListFor(model => model.TransferType, new SelectList(ViewBag.LedgerCat, "Value", "Text"), "--Choose Your Ledger Category--", new { @class = "form-control" })*@
                                        @{
                                            var listItems = new List<SelectListItem>();
                                            listItems.Add(new SelectListItem { Text = "Select", Value = "0" });
                                            listItems.Add(new SelectListItem { Text = "Credit", Value = "Credit" });
                                            listItems.Add(new SelectListItem { Text = "Debit", Value = "Debit" });
                                        }

                                        @Html.DropDownListFor(model => model.TransferType, listItems, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" class="btn green">Submit</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                                            }



                </div>
            </div>

        </div>
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function () { $("#datepicker").datepicker({ dateFormat: 'dd/mm/yy' }); });
</script>

