@model NibsMVC.Models.AdminBillReportModel

@{
    ViewBag.Title = "RestroBill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">

    <!-- BEGIN PAGE HEADER-->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="@Url.Action("Index","Home")">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                Restaurant Bills
            </li>
        </ul>

    </div>
    <div class="col-md-6 margin-bottom-15">
        <div class="form-body form-horizontal">
            <div class="form-group">
                <label class="col-md-5"> Search</label>
                <div class="col-md-6">
                    <select id="ddl_RestroSearch" name="RestroSearch" class="form-control">
                        <option value="">--Select--</option>
                        <option value="Date">Date Wise</option>
                        <option value="Bill">Bill Wise</option>
                    </select>
                </div>
            </div>

            <div id="Div_Search" hidden>
                @using (Html.BeginForm("Index", "Billing", FormMethod.Post, new { @class = "form-horizontal", @id = "Form_search_sample" }))
                {
                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        You have some form errors. Please check below.
                    </div>
                    <div class="form-group">
                        <label class=" col-md-5">Start Date</label>
                        <div class="col-md-6">
                            @*@Html.TextBoxFor(model => model.SearchFrom, new { @class = "form-control date-picker", })*@
                            <input class="form-control date-picker" size="16" type="text" value="" name="SearchFrom" data-date-format="mm-dd-yyyy" readonly="readonly" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class=" col-md-5">End Date</label>
                        <div class="col-md-6">
                            @*@Html.TextBoxFor(model => model.SearchFrom, new { @class = "form-control date-picker", })*@
                            <input class="form-control date-picker" size="16" type="text" value="" name="SearchTo" data-date-format="mm-dd-yyyy" readonly="readonly" />
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-5">
                        <input type="submit" value="Search" class="btn btn-success" />
                    </div>

                }
            </div>
            <div id="Show_bill_wise" hidden>
                @using (Html.BeginForm("Index", "Billing", FormMethod.Post, new { @class = "form-horizontal", @id = "Form_search_bill_sample" }))
                {
                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        You have some form errors. Please check below.
                    </div>
                    <div class="restro_search form-group" id="Div_Bill">
                        <label class="col-md-5">Enter Bill No</label>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" type="text" value="" name="BillNo" />
                            </div>
                            @*@Html.TextBoxFor(model => model.BillNo, new { @class = "form-control" })*@
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-5">
                        <input type="submit" value="Search" class="btn btn-success" />
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-4 margin-bottom-15">
        <a class="btn default" data-toggle="modal" href="#responsive">
            Open Food Bill Reports
        </a>
        <div id="responsive" class="modal fade" tabindex="-1" data-width="760">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Open Food Bill Reports</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" style="overflow-y:auto;max-height:320px;">
                        @{
                            if (Model.getAllOpenFood != null)
                            {
                                <table class="table table-bordered table-hover table-full-width" id="sample_1">
                                    <thead>
                                        <tr>
                                            <th>Item Name</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Vat</th>
                                            <th>Amount</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.getAllOpenFood)
                                        {
                                            <tr>
                                                <td>@item.ItemName</td>
                                                <td>@item.Price</td>
                                                <td>@item.Quantity</td>
                                                <td>@item.Vat</td>
                                                <td>@item.Amount</td>
                                                <td>@item.Date.ToShortDateString()</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>


                            }
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>

            </div>
        </div>
    </div>

    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->

    <div class="row">
        <p style="color:red"> @TempData["error"]</p>
        <div class="col-md-12" style="padding-left:0px;padding-right:0px;">
            <!-- BEGIN BORDERED TABLE PORTLET-->
            <div class="portlet box yellow">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-coffee"></i> Restaurant Bills
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse">
                        </a>

                        <a href="javascript:;" class="reload">
                        </a>

                    </div>
                </div>
                <div class="portlet-body">

                    <table class="table table-bordered table-hover table-full-width" id="sample_2">
                        <thead>
                            <tr>
                               
                                <th>Bill No</th>
                                <th>Bill Date</th>
                                <th>Table No</th>
                                <th>Vat Amount</th>
                                <th>Service Charges</th>
                                <th>ServiceTax</th>
                                <th>Discount Amount</th>
                                <th>Total Amount</th>
                                <th>Net Amount</th>
                                <th>Payment Type</th>
                                <th>Item Details</th>

                            </tr>
                        </thead>
                        <tbody>

                            @{

                                var counter = 1;
                                if (Model.getAllBillReports != null)
                                {
                                    foreach (var item in Model.getAllBillReports.OrderByDescending(a => a.BillId))
                                    {
                                        <tr>

                                           
                                            <td>
                                                @item.BillId
                                            </td>
                                            <td>
                                                @item.BillDate
                                            </td>
                                            <td>
                                                @item.TableNo
                                            </td>
                                            <td>
                                                @item.VatAmount
                                            </td>
                                            <td>
                                                @item.ServicChargeAmt
                                            </td>
                                            <td>
                                                @item.ServiceTax
                                            </td>
                                            <td>
                                                @item.DiscountAmount
                                            </td>
                                            <td>
                                                @item.TotalAmount
                                            </td>
                                            <td>
                                                @item.NetAmount
                                            </td>
                                            <td>@item.PaymentType</td>
                                            <td>
                                                <a class="btn default" data-toggle="modal" href="#@item.BillId">
                                                    Items
                                                </a>
                                                <div class="modal fade" id="@item.BillId" tabindex="-1" role="basic" aria-hidden="true">

                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                        <h4 class="modal-title">Item Details</h4>
                                                    </div>
                                                    <div class="modal-body">

                                                        <table class="table table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th>Item Name</th>
                                                                    <th>Full Quantity</th>
                                                                    <th>Half Quantity</th>
                                                                    <th>Amount</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var i in item.getBillItemDetails)
                                                                {
                                                                    <tr>
                                                                        <td>@i.ItemName</td>
                                                                        <td>@i.FullQty</td>
                                                                        <td>@i.HalfQty</td>
                                                                        <td>@i.Amount</td>
                                                                    </tr>
                                                                }

                                                            </tbody>


                                                        </table>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn default" data-dismiss="modal">Close</button>

                                                    </div>

                                                </div>
                                            </td>
                                        </tr>
                                                                counter = counter + 1;
                                    }
                                }

                            }
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Total VatAmount</label>
                                <button class="btn green">@Model.getAllBillReports.Sum(a => a.VatAmount)</button>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Total Servicecharge</label>
                                <button class="btn green">@Model.getAllBillReports.Sum(a => a.ServicChargeAmt)</button>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Total ServiceTax</label>
                                <button class="btn green">@Model.getAllBillReports.Sum(a => a.ServiceTax)</button>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Total Discount Amount</label>
                                <button class="btn green">@Model.getAllBillReports.Sum(a => a.DiscountAmount)</button>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Total Amount</label>
                                <button class="btn green">@Model.getAllBillReports.Sum(a => a.TotalAmount)</button>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Total Net  Amount</label>
                                <button class="btn green">@Model.getAllBillReports.Sum(a => a.NetAmount)</button>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- END BORDERED TABLE PORTLET-->

        </div>
    </div>
    <!-- END PAGE CONTENT-->
    <script>
        $(document).on('change', '#ddl_RestroSearch', function () {
            var eval = $(this).val();
            if (eval == "Date") {
                $('#Div_Search').show();
                $('#Show_bill_wise').hide();
            }
            else if (eval == "Bill") {
                $('#Div_Search').hide();
                $('#Show_bill_wise').show();

            }
            else {
                $('#Div_Search').hide();
                $('#Show_bill_wise').hide();
            }
        });
    </script>
</div>