@model NibsMVC.Models.BasePriceEditModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="row">
        <p class="err" style="color:red">@TempData["Berror"]</p>
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Set Item Base Price
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    @using (Html.BeginForm("Create", "BasePrice", FormMethod.Post, new { @id = "BasePriceform", @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        @*@Html.HiddenFor(model => model.CategoryId)*@
                        <input type="hidden" name="Basepricedata" id="Basepricedata" value="" />
                        <div class="form-body">
                            <div class="alert alert-danger display-hide">
                                <button class="close" data-close="alert"></button>
                                You  have to Enter the Valid values. Please check below.
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Select Category <span class="required">
                                        *
                                    </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>

                                        @if (Model.CategoryId != 0)
                                        {
                                            @Html.DropDownListFor(model => model.CategoryId, new SelectList(ViewBag.Categorylists, "Value", "Text", Model.CategoryId), "--Choose Your Category--", new { @class = "form-control" })
                                        }
                                        else
                                        {
                                            @Html.DropDownListFor(model => Model.CategoryId, new SelectList(ViewBag.Categorylists, "Value", "Text"), "--Choose Your Category--", new { @class = "form-control" })
                                        }

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Select Type <span class="required">
                                        *
                                    </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        @if (Model.Type != null)
                                        {
                                        @Html.DropDownListFor(model => Model.Type , new SelectList(ViewBag.AcType, "Value", "Text", Model.Type), "--Choose Your Category--", new { @class = "form-control" })
                                        }
                                        else
                                        {
                                        @Html.DropDownListFor(model => Model.Type, new SelectList(ViewBag.AcType, "Value", "Text"), "--Choose Your Category--", new { @class = "form-control" })
                                        }



                                    </div>
                                </div>

 </div>

                                <div class="from-group">
                                    @if (Model != null)
                                {
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Item Name</th>
                                                    @*<th>Type</th>*@
                                                    <th>Price</th>
                                                    @*<th>Half Price</th>*@
                                                    <th>GST</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.getAllItemList!=null)
                                            {
                                                foreach (var item in Model.getAllItemList)
                                                {
                                                    <tr>
                                                        <td>
                                                            <input type="hidden" name="EditItemId" value="@item.ItemId" />
                                                            <input type="text" class="form-control" value="@item.ItemName" readonly />
                                                        </td>
                                                        @*<td>
                                                           
                                                            <input type="text" class="form-control" value="@item.Type" readonly />
                                                        </td>*@
                                                        <td>
                                                            <input type="text" class="form-control" name="EditFullPrice" value="@item.FullPrice" />
                                                        </td>
                                                        @*<td>
                                                            <input type="text" class="form-control" name="EditHalfPrice" value="@item.HalfPrice" />
                                                        </td>*@
                                                        <td>
                                                            @{
                                                              if (item.Type  == "Ac Hall"){
                                                                <input type="text" class="form-control" name="EditVat" value="18" />}
                                                              else { 
                                                                <input type="text" class="form-control" name="EditVat" value="12" />}
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            </tbody>
                                        </table>
                                }
                                </div>

                            </div>


                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green" id="btsetprice">Submit</button>

                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).on('change', 'select[name="CategoryId"]', function () {
            var Id = $(this).val();
            var AcType = $('select[name="AcType"]').val();
            window.location.href = "/BasePrice/Create?Id=" + Id + "&AcType=" + AcType;
        });

        $(document).on('change', 'select[name="AcType"]', function () {
            var AcType = $(this).val();
            var Id = $('select[name="CategoryId"]').val();
             window.location.href = "/BasePrice/Create?Id=" + Id + "&AcType=" + AcType;
           
        });
    </script>

</div>
