@model IEnumerable<NibsMVC.Models.BasePriceModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using NibsMVC.EDMX;
<div class="page-content">

    <!-- BEGIN PAGE HEADER-->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="@Url.Action("Index","Home")">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="@Url.Action("Create","BasePrice")">Base Price Master</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                Base Price Details
            </li>
        </ul>

    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->

    <div class="row">
        <p class="err" style="color:red">@TempData["perror"]</p>
        <div class="col-md-12" style="padding-left:0px;padding-right:0px;">
            <!-- BEGIN BORDERED TABLE PORTLET-->
            <div class="portlet box yellow">

                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-coffee"></i>Base Price Details
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse">
                        </a>

                        <a href="javascript:;" class="reload">
                        </a>

                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-bordered table-hover table-full-width" id="sample_2">
                        <thead>
                            <tr>
                                @*<th>
                        S.NO
                    </th>*@
                                <th>
                                    Category Name
                                </th>
                                <th>Item Details</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{

                                var counter = 1;
                                foreach (var item in Model.GroupBy(a => a.CategoryIds))
                                {
                                    <tr>
                                        @*<td>
                                @counter
                            </td>*@

                                        <td>
                                            @{
                                    NIBSEntities db = new NIBSEntities();
                                    var Categoryname = (from p in db.tblCategories where p.CategoryId == item.Key select p.Name).SingleOrDefault();

                                            }
                                            @Categoryname

                                        </td>

                                        <td>
                                            <a class="btn default" data-toggle="modal" href="#@item.Key">
                                                Items
                                            </a>
                                            <div class="modal fade" id="@item.Key" tabindex="-1" aria-hidden="true">
                                                
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                            <h4 class="modal-title">Items Base Price Details</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <table class="table table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Item Name</th>
                                                                        <th>Full Price</th>
                                                                        <th>Half Price</th>
                                                                        <th>Vat</th>

                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @{
                                    var Itemdetails = (from q in db.tblBasePriceItems where q.CategoryId == item.Key select q).ToList();
                                    foreach (var i in Itemdetails)
                                    {
                                        <tr>
                                            <td>@i.tblItem.Name</td>
                                            <td>@i.FullPrice</td>
                                            <td>@i.HalfPrice</td>
                                            <td>@i.Vat</td>

                                        </tr>
                                    }
                                                                    }
                                                                </tbody>


                                                            </table>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn default" data-dismiss="modal">Close</button>

                                                        </div>
                                                    
                                                <!-- /.modal-dialog -->
                                            </div>
                                        </td>




                                        <td>

                                            <a href="@Url.Action("Edit", "BasePrice", new { id=item.Key})"><span class="fa fa-edit"></span></a>
                                           <a href="@Url.Action("Delete", "BasePrice", new { @id = item.FirstOrDefault().BasePriceId })" class="delete_base"><span class="fa fa-trash-o"></span></a>
                                        </td>
                                        @*<td>
        <a href="@Url.Action("Create", "Category", new { @id = item.CategoryId })" class="btn btn-xs red">Edit</a>
        <a href="@Url.Action("Delete", "Category", new { @id = item.CategoryId })" class="btn btn-xs red">Delete</a>
    </td>*@

                                    </tr>
                                    counter = counter + 1;
                                }

                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END BORDERED TABLE PORTLET-->
            <script>
                $(document).on('click', '.delete_base', function (e) {
                    if (!confirm("Do you want to delete")) {
                        return false;
                    }
                });
            </script>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>


